/* CSS Document */
body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #0ca3d2;
  padding:0;
  margin:0;
}
ul {
	padding:0;
	margin:0;
}
header {
	width:100%;
	height:60px;
	background: rgba(0, 0, 0, 0);
	z-index:1;
	margin-left: 30px;

	color: white;
}
footer {
	width:100%;
	height:40px;
	background: rgba(0, 0, 0, 0.08);
	z-index:1;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.site-wrapper {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:0;
}
.stretch {
	width:100%;
	height:100%;
	position:fixed;
}
.container {
  margin:0 auto;
  width:980px;
  position:relative;
  z-index:10;
}
.left-container {
	width:600px;
	float:left;
	padding:15px;
	box-sizing:border-box;
}
.right-container {
	width:380px;
	float:left;
	box-sizing:border-box;
	padding:15px;
}
.box-one {
	width:100%;
	float:left;
	min-height:100px;
	margin-bottom:15px;
	padding:5px;
	border:1px solid #FFF;
}
.box-one p {
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	font-size:16px;
	margin:0;
	padding:0;
}
 

